body{
	background-color: yellow;
	font-family: 'comic sans ms';
	color: green;
}
	
h1{
	text-align:center;
	color: lightgreen;
	font-size: 50px;
}

h2{
	color: white;
	background-color: lightgreen;
	padding-left: 10px;
}

figure {
	margin-left: 0
}

figcaption{
	font-size: 8px;
	color: gray;
}

#menueleiste li{
	list-style-type: none;
	float: left;
	width: 150px;
}

.float-ende{ clear: both}
	